<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spot | Reviews</title>
    <link rel="stylesheet" href="/css/spot.css">
    <link rel="stylesheet" href="../public/css/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="/user/profile">Profile<span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
        <div id="spotbox">
            <h1 class="text-center"><strong><%= spot.title %></strong></h1>
            <h4>Description</h4>
            <p class="ml-2"><%= spot.description %></p>
            <br>
            <img src="<%= spot.image %>" alt="spot img">
            <br>
            <br>
            <h4>Address</h4>
            <p class="ml-2"><%= spot.address %></p>
            <br>
            <h4>Best Time</h4>
            <p class="ml-2"><%= spot.besttime %></p>
            
        </div>
        <h4> Comments</h4>   
        <div class="container mx-auto text-center">
            <ul class="list-group list-group-flush mt-5 text-light">
                <% for ( let i=0; i < comments.length;  i++ ) { %>
                    <li class="list-group-item" id="<%= comments[i].id %>" ><%= comments[i].description %></li>
                <% } %>
            </ul>
            <form action="/user/comments" method="POST">    
                <div class="d-flex justify-content-right h-50 bd-highlight">
                    <ul>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add Comments..." name="comment">      
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </ul>
                </div>
            </form>    
        </div>
    </div>
    </body>
</html>